.characters_profile{

}
h2{
    color: #FFFFFF;
    font-size: 45px;
    line-height: 29px;
    text-align: center;
    font-weight: 600;
}


.profile_item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}
p{
    color: #0B3F8D;
    text-align: center;
    border-bottom: 1px solid #fff;
}