.characters_profile{
    width: 45%;
}
.profile_title{
    color: #FFFFFF;
    font-size: 45px;
    line-height: 49px;
    text-align: center;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.profile_details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.profile_item{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    background: #0B3F8D;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}
p{
    color: #FFFFFF;
    text-align: center;
    margin: 5px 0 0 0;
    border-bottom: 1px solid #fff;
}