.planet_list{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}