.world_list{
 display: flex;
    flex-direction: column;
    width: 25%;
}
h2{
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.world_item{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
    filter: drop-shadow(3px 3px 2px #FFFFFF);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
}