.world_list{
 display: flex;
    flex-direction: column;
    width: 25%;
}
.world_title{
    color: #FFFFFF;
    font-size: 45px;
    line-height: 49px;
    text-align: center;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.world_item{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
    filter: drop-shadow(3px 3px 2px #FFFFFF);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
}